/* Base */
html,
body {
    background-color: #ececec;
    color: #333333;
}

input,
select,
.btn,
.form-control {
    border-radius: 0;
}

a,
button,
.btn {
    cursor: pointer;
}

.btn {
    opacity: .8;
    transition: ease-in-out all 200ms;
}
.btn:hover {
    opacity: 1;
    box-shadow: 2px 1px 1px #acacac;
}