@using ISUCorp.ReservationsProject.Core
@using ISUCorp.ReservationsProject.Core.Utils
@using ISUCorp.ReservationsProject.App.Helpers
@model ISUCorp.ReservationsProject.Domain.Dto.ReservationInputDto

@{
    ViewBag.ActivePage = "Reservation";
    ViewBag.Title = LocalizationHelper.CreateReservation;
}

<article class="main-body">
    <div class="container">
        <form data-bind="submit: send" class="form-horizontal">
            <div class="content">
                <div class="row">
                    <div class="col-12 col-md-3">
                        <div class="form-group has-icon">
                            <label for="" class="sr-only">Name</label>
                            <span class="fa fa-users"></span>
                            <select data-bind="options: AvailableContacts, optionsText: 'Name', value: SelectedContact" class="form-control" name="name"></select>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="form-group has-icon">
                            <label for="" class="sr-only">Contact type</label>
                            <span class="fa fa-globe"></span>
                            @Html.DropDownListFor(reservationDto => reservationDto.Contact.Type, Enum.GetValues(typeof(ContactType)).Cast<ContactType>().Select(x => new SelectListItem { Text = x.GetDescription(), Value = ((int)x).ToString() }), new { @class = "form-control", data_bind = "value: SelectedContact().Type", disabled = "", required = "" })
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="form-group has-icon">
                            <label for="" class="sr-only">Phone</label>
                            <span class="fa fa-phone"></span>
                            <input type="text" data-bind="value: SelectedContact().Phone" class="form-control" name="phone" id="" placeholder="Phone" disabled="disabled">
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="form-group has-icon">
                            <label for="" class="sr-only">Birthday</label>
                            <span class="fa fa-calendar"></span>
                            <input type="date" data-bind="value: SelectedContact().FormattedBirthDate" class="form-control" name="birthdate" id="" placeholder="Birthday" disabled="disabled" required="">
                            <small class="form-text text-muted">Birthday</small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content">
                <div class="row">
                    <div class="col-12 col-md-3">
                        <div class="form-group has-icon">
                            <label for="" class="sr-only">Reservation date</label>
                            <span class="fa fa-calendar"></span>
                            <input type="date" data-bind="value: ReservationDate" class="form-control" name="reservation-date" id="" placeholder="Reservation date" required="">
                            <small class="form-text text-muted">Reservation date</small>
                        </div>
                    </div>
                    <div class="col-12 col-md-2">
                        <div class="form-group has-icon">
                            <label for="" class="sr-only">Rating</label>
                            <span class="fa fa-star"></span>
                            <select id="" data-bind="value: ReservationRating" class="form-control" name="rating">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-actions">
                <a class="btn btn-sm btn-gray" href="@Url.Action("List", "Reservation")">Cancel</a>
                <input class="btn btn-sm" type="submit" value="Send">
            </div>

        </form>
    </div>
</article>

@section scripts
{
    <script src="~/Scripts/Reservation/CreateViewModel.js"></script>
}