@model ISUCorp.ReservationsProject.Domain.Dto.ReservationInputDto

@{
    ViewBag.ActivePage = "Reservation";
    ViewBag.Title = "Create Reservation";
}

<article class="main-body">
    <div class="container">
        <form action="" method="POST" class="form-horizontal" role="form">
            <div class="content">
                <div class="row">
                    <div class="col-12 col-md-3">
                        <div class="form-group has-icon">
                            <label for="" class="sr-only">Name</label>
                            <span class="fa fa-users"></span>
                            <select data-bind="options: ContactsName, value: ContactName" class="form-control" name="name">
                                <option>Name</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="form-group has-icon">
                            <label for="" class="sr-only">Contact type</label>
                            <span class="fa fa-globe"></span>
                            <select data-bind="value: ContactType" class="form-control" name="contact-type" disabled="disabled">
                                <option>Type</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="form-group has-icon">
                            <label for="" class="sr-only">Phone</label>
                            <span class="fa fa-phone"></span>
                            <input type="text" data-bind="value: ContactPhone" class="form-control" name="phone" id="" placeholder="Phone" disabled="disabled">
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="form-group has-icon">
                            <label for="" class="sr-only">Birthday</label>
                            <span class="fa fa-calendar"></span>
                            <input type="date" data-bind="value: BirthDate" class="form-control" name="birthdate" id="" placeholder="Birthday" disabled="disabled">
                            <small class="form-text text-muted">Birthday</small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content">
                <div class="row">
                    <div class="col-12 col-md-3">
                        <div class="form-group has-icon">
                            <label for="" class="sr-only">Reservation date</label>
                            <span class="fa fa-calendar"></span>
                            <input type="date" data-bind="value: ReservationDate" class="form-control" name="reservation-date" id="" placeholder="Reservation date">
                            <small class="form-text text-muted">Reservation date</small>
                        </div>
                    </div>
                    <div class="col-12 col-md-2">
                        <div class="form-group has-icon">
                            <label for="" class="sr-only">Rating</label>
                            <span class="fa fa-star"></span>
                            <select id="" data-bind="value: Rating" class="form-control" name="rating">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-actions">
                <input class="btn btn-sm" data-bind="click: send" type="submit" value="Send">
            </div>

        </form>
    </div>
</article>

@section scripts
{
    <script src="~/Scripts/Reservation/CreateViewModel.js"></script>
}