@using ISUCorp.ReservationsProject.Core
@using ISUCorp.ReservationsProject.Core.Utils
@model ISUCorp.ReservationsProject.Domain.Dto.ReservationDto

@{
    ViewBag.ActivePage = "Reservation";
    ViewBag.Title = "Edit Reservation";
}

<article class="main-body">
    <div class="container">
        <div class="form-horizontal">
            <input type="hidden" value="@Model.Id" id="hidden-id" />
            <div class="content">
                <div class="row">
                    <div class="col-12 col-md-3">
                        <div class="form-group has-icon">
                            <label for="" class="sr-only">Name</label>
                            <span class="fa fa-users"></span>
                            <input type="text" data-bind="value: Reservation().Contact.Name" class="form-control" name="name" id="" placeholder="Name" disabled="disabled">
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="form-group has-icon">
                            <label for="" class="sr-only">Contact type</label>
                            <span class="fa fa-globe"></span>
                            @Html.DropDownListFor(reservationDto => reservationDto.Contact.Type, Enum.GetValues(typeof(ContactType)).Cast<ContactType>().Select(x => new SelectListItem { Text = x.GetDescription(), Value = ((int)x).ToString() }), new { @class = "form-control", data_bind = "value: Reservation().Contact.Type", disabled = "" })
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="form-group has-icon">
                            <label for="" class="sr-only">Phone</label>
                            <span class="fa fa-phone"></span>
                            <input type="text" data-bind="value: Reservation().Contact.Phone" class="form-control" name="phone" id="" placeholder="Phone" disabled="disabled">
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="form-group has-icon">
                            <label for="" class="sr-only">Birthday</label>
                            <span class="fa fa-calendar"></span>
                            <input type="date" data-bind="value: Reservation().Contact.FormattedBirthDate" class="form-control" name="birthdate" id="" placeholder="Birthday" disabled="disabled">
                            <small class="form-text text-muted">Birthday</small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content">
                <div class="row">
                    <div class="col-12 col-md-3">
                        <div class="form-group has-icon">
                            <label for="" class="sr-only">Reservation date</label>
                            <span class="fa fa-calendar"></span>
                            <input type="date" data-bind="value: Reservation().FormattedReservationDate" class="form-control" name="reservation-date" id="" placeholder="Reservation date">
                            <small class="form-text text-muted">Reservation date</small>
                        </div>
                    </div>
                    <div class="col-12 col-md-2">
                        <div class="form-group has-icon">
                            <label for="" class="sr-only">Rating</label>
                            <span class="fa fa-star"></span>
                            <select id="" data-bind="value: Reservation().Rating" class="form-control" name="rating">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-actions">
                <a class="btn btn-sm btn-gray" href="@Url.Action("List", "Reservation")">Cancel</a>
                <input class="btn btn-sm" data-bind="click: send" value="Send">
            </div>

        </div>
    </div>
</article>

@section scripts
{
    <script src="~/Scripts/Reservation/EditViewModel.js"></script>
}